include parts/head
body.font-raleway
// LOADER
#loader-overflow
  #loader3.loader-cont Please enable JS
#wrap.boxed
  .grey-bg
    // Grey BG
    //if lte IE 8
      #ie-container
        #ie-cont-close
          a(href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;')
            img(src='images/ie-warn/ie-warning-close.jpg' style='border: none;' alt='Close')
        #ie-cont-content
          #ie-cont-warning
            img(src='images/ie-warn/ie-warning.jpg' alt='Warning!')
          #ie-cont-text
            #ie-text-bold
              | You are using an outdated browser
            #ie-text
              | For a better experience using this site, please upgrade to a modern web browser.
          #ie-cont-brows
            a(href='http://www.firefox.com' target='_blank')
              img(src='images/ie-warn/ie-warning-firefox.jpg' alt='Download Firefox')
            a(href='http://www.opera.com/download/' target='_blank')
              img(src='images/ie-warn/ie-warning-opera.jpg' alt='Download Opera')
            a(href='http://www.apple.com/safari/download/' target='_blank')
              img(src='images/ie-warn/ie-warning-safari.jpg' alt='Download Safari')
            a(href='http://www.google.com/chrome' target='_blank')
              img(src='images/ie-warn/ie-warning-chrome.jpg' alt='Download Google Chrome')
    // HEADER 1 FONT WHITE TRANSPARENT
    .header-black-bg
    // NEED FOR TRANSPARENT HEADER ON MOBILE
    header#nav.header.header-1.header-black
      .header-wrapper
        .container-m-30.clearfix
          .logo-row
            // LOGO
            .logo-container-2
              .logo-2
                a.clearfix(href='#')
                  img.logo-img(src='images/revision/logo.png' alt='Logo')
            // BUTTON
            .menu-btn-respons-container
              button#menu-btn.navbar-toggle.btn-navbar.collapsed(type='button' data-toggle='collapse' data-target='#main-menu .navbar-collapse')
                // <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
                span
                span
                span
                span
        // MAIN MENU CONTAINER
        .main-menu-container
          .container-m-30.clearfix
            // MAIN MENU
            #main-menu.font-raleway
              .navbar.navbar-default(role='navigation')
                // MAIN MENU LIST
                nav.collapse.collapsing.navbar-collapse.right-1024
                  ul#nav-onepage.nav.navbar-nav
                    li.current
                      a(href='#index-link')
                        .main-menu-title HOME
                    li
                      a(href='#intro-link')
                        .main-menu-title INTRODUCTION
                    li
                      a(href='#tech-link')
                        .main-menu-title TECHNOLOGY
                    li
                      a(href='#plan-link')
                        .main-menu-title PLAN
                    li
                      a(href='#about-us-link')
                        .main-menu-title TEAM
                    li
                      a(href='https://weku.io/weku_whitepaper_en.pdf')
                        .main-menu-title WhitePaper
                    li
                      a(href='index.html')
                        .main-menu-title Production(Beta)
                    li
                      a(href='chinese.html')
                        .main-menu-title &#x4E2D;&#x6587;
            // END main-menu
          // END container-m-30
        // END main-menu-container
      // END header-wrapper
    // VIDEO
    #index-link.sm-video-bg(style='background-image: url(video/earth-bg-5.png);')
      .container.sm-content-cont.text-center.js-height-fullscr
        // VIDEO BG
        // If you want to change video - replace video files in folder "video"
        .sm-video-wrapper.bg-dark-alfa-10
          .sm-video
        .sm-cont-middle
          // LAYER NR. 1
          .font-raleway.font-white.light-42-wide.mb-15.mt-20.relative
            | WeKu: First SAAS Community Chain
          // LAYER NR. 2
          .font-raleway.font-white.norm-16-wide.mb-50.relative
            | Blockchain based Creative Content and Social Network Platform with Rewards
      // SCROLL ICON
      .local-scroll-cont.font-white
        a.scroll-down.smooth-scroll(href='#intro-link')
          .icon.icon-arrows-down
    // INTRO SECTION
    #intro-link.page-section.pt-150-b-110-cont
      .container
        .mb-10
          .indicator
            img(src='images/revision/indicator.png')
        .mb-20
          h2.section-title2.font-raleway.pr-0 Introduction
        .mb-30
          p.description-text
            | WeKu&apos;s mission is to create a new, fully decentralized generation of social open platforms based on blockchain technology and utilizing the InterPlanetary File System(IPFS).
        .row
          // Features item
          .col-md-4
            .feature-box(data-aos='fade-up' data-aos-easing='ease-in-sine' data-aos-duration='400')
              .icon
                i.icon.icon-ecommerce-banknotes
              .feature-info
                h3 Innovative Model
                p
                  | This allows the true owners of the value of any social media platform, the content creators, to appropriate financial rewards based on the success of their content.
          // Features item
          .col-md-4
            .feature-box(data-aos='fade-up' data-aos-easing='ease-in-sine' data-aos-duration='600')
              .icon
                i.icon.icon-basic-globe
              .feature-info
                h3 Creating Social Community
                p
                  | WeKu provides a platform where community development by all participants is rewarded with financial incentives.  Content creators, content viewers and community developers all participate together to achieve rewards with each groups contribution recognized and rewarded.
          // Features item
          .col-md-4
            .feature-box(data-aos='fade-up' data-aos-easing='ease-in-sine' data-aos-duration='800')
              .icon
                i.icon-basic-share
              .feature-info
                h3 Motivate Innovation
                p
                  | The WeKu platform, through the monetizing of original content and community ecosystems, promotes innovation. On the WeKu platform creators of content are protected from loss and/or theft of content and financially rewarded for creation and active participation in communities.
    // TECH SECTION
    #tech-link.page-section.pt-150-b-110-cont
      .container
        .mb-10
          .indicator
            img(src='images/revision/indicator.png')
        .mb-20
          h2.section-title2.font-raleway.pr-0 Technology
        .mb-30
          .font-raleway.font-white.text-center.light-24-wide.mb-15.mt-20 Background
          p.description-text
            | In the Internet 2.0 era, thousands of original writers, bloggers, columnists, and countless socially active users have created billions of dollars in advertising profits for social networking platforms such as Facebook, Twitter, Reddit, Youtube, WeChat and Weibo. However, these original authors did not have complete control over the works they created, nor did they fully enjoy the profit they generated. Most of the advertising and sponsor income generated from these works are owned by the platform, which greatly reduces the enthusiasm and creative quality of original creators.
          p.description-text
            | Most importantly, fans, circle of friends and social data that the original authors worked hard to create can be blocked if the account is terminated. Some centralized platforms do not provide a user-friendly export interface for user data, leaving content creators unable to actually own their social networks.
        .mb-30.description-text(data-aos='flip-up' data-aos-easing='ease-in-sine' data-aos-duration='400')
          img(alt='social media' src='images/revision/social-icons.png')
        .row
          // tech item
          .col-md-4
            .feature-box
              .feature-info
                .indicator(data-aos='fade-down' data-aos-easing='linear' data-aos-duration='600')
                  img(src='images/revision/indicator.png' width='15')
                h3 Innovative ideas
                p
                  | With core technologies such as blockchain, IPFS, SmartContract, and artificial intelligence, WeKu creates the next generation of new social media platforms that we can not tamper with. This protects the content from deletion not initiated by the owner of that material. Additionally Weku will provide portability between other social media platforms.
          // tech item
          .col-md-4
            .feature-box
              .feature-info
                .indicator(data-aos='fade-down' data-aos-easing='linear' data-aos-duration='900')
                  img(src='images/revision/indicator.png' width='15')
                h3 Content Incentives
                p
                  | All participants in the value contribution of WeKu social media and online communities are rewarded with incentives and financial rewards this includes both for content authors as well as registered visitors.
          // tech item
          .col-md-4
            .feature-box
              .feature-info
                .indicator(data-aos='fade-down' data-aos-easing='linear' data-aos-duration='1200')
                  img(src='images/revision/indicator.png' width='15')
                h3 Operating Model
                p
                  | WeKu maintains sustainable and stable growth through the sale of online copyrighted articles, audio, video and multimedia online services, media content recommendations, and sponsorships for advertising. This rewards based dynamic creates an unique environment allowing content authors and registered visitors grow together and create win-win situations on the WeKu platform.
    // PLAN SECTION
    #plan-link.page-section.pt-150-b-110-cont.plan-bg.parallax-section(style='background-image: url(images/revision/plan-bg.jpg)' data-stellar-background-ratio='0.5')
      .container
        .mb-10
          .indicator
            img(src='images/revision/indicator.png')
        .mb-20
          h2.section-title2.font-raleway.pr-0 Development Plan
        .row(data-aos='fade-zoom-in' data-aos-delay='200')
          .col-sm-2
            img(src='images/revision/date-box1.png' border='0')
          .col-sm-10
            h3 Demo Sites Online
        .row(data-aos='fade-zoom-in' data-aos-delay='300')
          .col-sm-2
            img.margin-40(src='images/revision/date-box2.png')
          .col-sm-10
            h3.margin-40 Develop Platform Plan
        .row(data-aos='fade-zoom-in' data-aos-delay='400')
          .col-sm-2
            img(src='images/revision/date-box3.png')
          .col-sm-10
            h3 Open the test network and add new nodes
        .row(data-aos='fade-zoom-in' data-aos-delay='400')
          .col-sm-3
            img.margin-80(src='images/revision/date-box4.png')
          .col-sm-9
            h3 The content platform running on the WeKu network goes alive
        .row(data-aos='fade-zoom-in' data-aos-delay='400')
          .col-sm-2
            img(src='images/revision/date-box5.png')
          .col-sm-10
            h3 Support and Maintain WEKU Platform
        .row(data-aos='fade-zoom-in' data-aos-delay='500')
          .col-sm-3
            img.margin-80(src='images/revision/date-box6.png')
          .col-sm-9
            h3 WEKU Apps go alive
      .container.pt-150-b-110-cont.community-block
        .mb-10
          .indicator
            img(src='images/revision/indicator.png')
        .mb-20
          h2.section-title2.font-raleway.pr-0 Join WeKu Communities
        .mb-30
          p.description-text
            | As community is core to Weku. There are many opportunities for you to help WeKu develop the online communities that interest you. As a content provider you can publish your blogs, display and make available your original creations. Furthermore user can add their computing nodes to WeKu decentralized network receiving rewards for participation. As a developer you can contribute to WeKu network programs. And all can participate as a domain expert in the Q &amp; A community.
          p.description-text
            a(href='mailto:support@weku.io')
              i.fa.fa-envelope-o
              |  Contact Us
    // TEAM
    #about-us-link.page-section
      .container
        // Start Team
        section#team.section.team-section
          .container
            .row
              .mb-10
                .indicator
                  img(src='images/revision/indicator.png')
              .mb-20
                h2.section-title2.font-raleway.pr-0 Team
              .team-slide.slick-carousel
                .team-members
                  .team-photo
                    img(src='images/revision/team-1.png' alt='Dustin Byington')
                  .team-info
                    .name Kevin Zou
                    .title Business
                    div
                      a(href='https://www.linkedin.com/in/kevin-zou-36b3581/')
                        i.fa.fa-linkedin
                .team-members
                  .team-photo
                    img(src='images/revision/team-3.png' alt='')
                  .team-info
                    .name Eric Chen
                    .title Business
                    div &nbsp;
                .team-members
                  .team-photo
                    img(src='images/revision/team-4.png' alt='')
                  .team-info
                    .name Sunny Sun
                    .title Technologist
                    div &nbsp;
                .team-members
                  .team-photo
                    img(src='images/revision/team-5.png' alt='')
                  .team-info
                    .name Tony Lin
                    .title Technologist
                    div &nbsp;
                .team-members
                  .team-photo
                    img(src='images/revision/team-6.png' alt='')
                  .team-info
                    .name Alex Qian
                    .title Technologist
                    div &nbsp;
                .team-members
                  .team-photo
                    img(src='images/revision/team-7.png' alt='')
                  .team-info
                    .name Songshan Li
                    .title Scientist
                    div &nbsp;
                .team-members
                  .team-photo
                    img(src='images/revision/team-8.png' alt='')
                  .team-info
                    .name Miya
                    .title Community
                    div &nbsp;
        // Start advisor
        section#advisor.section.team-section.pt-80-b-30-cont
          .container
            .row
              .mb-10
                .indicator
                  img(src='images/revision/indicator.png')
              .mb-20
                h2.section-title2.font-raleway.pr-0 Advisory Group
              .team-slide.slick-carousel
                .team-members
                  .team-photo
                    img(src='images/revision/advisor-1.png' alt='Dustin Byington')
                  .team-info
                    .name Dustin Byington
                    .title Advisor
                    div
                      a(href='https://www.linkedin.com/in/dbyington/')
                        i.fa.fa-linkedin
                .team-members
                  .team-photo
                    img(src='images/revision/advisor-2.png' alt='')
                  .team-info
                    .name Bo Wang
                    .title Advisor
                    div
                      a(href='https://www.linkedin.com/in/bwang000/')
                        i.fa.fa-linkedin
                .team-members
                  .team-photo
                    img(src='images/revision/advisor-3.png' alt='')
                  .team-info
                    .name Justin Snyder
                    .title Advisor
                    div
                      a(href='https://www.linkedin.com/in/jus10snyder/')
                        i.fa.fa-linkedin
                .team-members
                  .team-photo
                    img(src='images/revision/advisor-4.png' alt='')
                  .team-info
                    .name Jonathan Newell
                    .title Security Advisor
                    div
                      a(href='https://www.linkedin.com/in/newelljonathan/')
                        i.fa.fa-linkedin
                .team-members
                  .team-photo
                    img(src='images/revision/advisor-5.png' alt='')
                  .team-info
                    .name Kaiser Wahab
                    .title Attorney
                    div
                      a(href='https://www.linkedin.com/in/kaiserwahab/')
                        i.fa.fa-linkedin
    // FOOTER
    footer.page-section.pt-50.pb-50.footer-black
      .container
        .row
          // Start copyright
          .col-md-6.col-sm-6
            .copyright
              p
                | Copyright &copy; 2018 All Rights Reserved : weku.io
          // End copyright
          // start social icons
          .col-md-6.col-sm-6
            .social-icons
              ul
                li
                  a(href='mailto:support@weku.io')
                    i.fa.fa-envelope-o
                li
                  a(href='https://www.facebook.com/weku.chain')
                    i.fa.fa-facebook
                li
                  a(href='https://t.me/wekuen')
                    span
                      img(src='images/revision/icon-telegram.png' width='21')
                    i.fa.fa-telegram
                li
                  a(href='https://twitter.com/WeKuBlockchain')
                    i.fa.fa-twitter
                li
                  a.thumb(href='#')
                    i.fa.fa-wechat
          // End social icons
        // /.row
      // /.container
    // BACK TO TOP
    p#back-top
      a(href='#top' title='Back to Top')
        span.icon.icon-arrows-up
  // End BG
// End wrap
// JS begin
// jQuery
script(src='js/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='js/bootstrap.min.js')
script(src='js/aos.js')
// MAGNIFIC POPUP
script(src='js/jquery.magnific-popup.min.js')
// PORTFOLIO SCRIPTS
script(src='js/imagesloaded.pkgd.min.js')
// APPEAR
script(src='js/jquery.appear.js')
// PARALLAX
script(src='js/jquery.stellar.min.js')
// BACKGROUND VIDEO
script(src='js/jquery.backgroundvideo.min.js')
script(src='js/slick.js' type='text/javascript')
// ONE PAGE NAV
script(src='js/jquery.nav.js')
// MAIN SCRIPT
script(src='js/main.js')
// WeKu Chain Info
script.
  $(document).ready(function(){
  //setInterval(getCurrentBlock, 30000);
  // animated scroll blockl\\
  AOS.init();
  var myVideo = document.getElementById("video_background");
  myVideo.muted = "true";
  myVideo.play();
  //ios menu animation
  $('#menu-btn').click(function(){
  $(this).toggleClass('open');
  });
  });
  function getCurrentBlock(){
  $.ajax({
  url: '/getCurrentBlock',
  success: function(data){
  $("#blockNumber").html(data.currentBlockNumber);
  $("#blockContent").html(data.blockContent);
  }
  });
  }
// JS end
center
  font(size='2')
    | This is the free demo result. For a full version of this website, please go to  
    a(href='https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/')
      | https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/
